<!--(mouseleave)="mouseDown = false" (mouseenter)="mouseDown = false"-->

<ng-template #popTemplate>
  <div (clickOutside)="pop.hide()" exclude="button#position_pop">
    <div class="popView" (window:resize)="onResize($event)" [ngStyle]="popViewStyle" #popView>
      <div class="drag" #drag (window:mouseup)="mouseUp($event)" (window:mousemove)="onMouseMove($event)"
           (mousedown)="onMouseDown($event)" [ngStyle]="dragStyle">
      </div>
    </div>
    <button type="button" class="btn btn-warning glyphicon glyphicon-screenshot" (click)="centerPosition()"></button>
  </div>
</ng-template>

<button type="button" class="btn btn-warning"
        placement="bottom"
        id="position_pop"
        #pop="bs-popover"
        [popover]="popTemplate" popoverTitle="Map Position">
  Position
</button>
