.panel.panel-default{
  top:-45%;
  .panel-heading{
    background-color: #222;
    border-color: #080808;
    color: white;
    .close{
      color: white;
      opacity: .8;
      font-weight: 100;
      &:hover{
        opacity: 1;
        font-weight: 700;
      }
    }
  }
  .panel-body{
    background: #424242;
  }
  .form-group{
    margin-bottom: 3px !important;
  }
}


.pos-container{
  //box-shadow: inset 0px 0px 7px 0px rgb(66, 66, 66);
  //padding: 30px 60px 20px 60px;
  //background: rgba(141, 141, 141, 0.27);
  //border-radius: 4px;

  form {
    .form-group.submit{
      display: none;
    }
    display: flex;
    flex-wrap: wrap;
    .input_type {
      width: 200px;
      padding: 0 15px;
    }
    .markers-group {
      width: 255px;
      padding: 0 15px;
    }
    .layers-group {
      width: 113px;
      margin: 0 15px;
      padding: 0;
    }
    .size-group {
      width: 53px;
      margin: 0 15px;
      padding: 0;
    }
    .terrain-group {
      width: 53px;
      margin: 0 15px;
      padding: 0;
    }
    .b-switch {
      padding: 0 15px;
      width: 157px;
      margin-right: 15px;
    }
    .position-group {
      width: 76px;
      margin: 0 15px;
      padding: 0;

    }
    .lighting-group {
      width: 20px;
      margin: 0 15px;
      padding: 0;

    }
    .polygons-group {
      width: 20px;
      margin: 0 5px;
      padding: 0;
      margin-left: -44px;
      margin-top: -1px;

    }

    md-input-container{
      color: #d6d6d6;
      input:focus{
        color: white;
      }
    }




  }
}
@media screen and (max-width: 767px){
  .panel.panel-default{
    margin-bottom: 0;
    border: none;
    z-index: 1091;
    position: relative;
    .panel-body{
      max-height: 270px;
      overflow: auto;
      form{
        justify-content: center;
        .input_type{
          width: inherit;
          md-input-container{
            width: 100%;
          }
        }
        .layers-group, .markers-group, .size-group, .lighting-group, .terrain-group, .polygons-group{
          width: inherit;
        }
        .markers-group{
          width: inherit;
        }
        .group-div{
          margin-top: 2%;
        }
        .form-group.submit{
          margin: 0;
          margin-top: 2%;
          width: 100%;
          display: flex;
          justify-content: center;

          button.submit-mobile{
            width: 80%;
            background: #0f0961;
            border-color: #343075;
          }
        }
      }
    }
  }
  .pos-container{
  }

  .blackscreen{
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .position-group{
    display: none;
  }
}
.glyphicon{
  top: 0px!important;
}
