.panel.panel-default {
  top: -45%;
  .panel-heading {
    background-color: #222;
    border-color: #080808;
    color: white;
    .close {
      color: white;
      opacity: .8;
      font-weight: 100;
      &:hover {
        opacity: 1;
        font-weight: 700;
      }
    }
  }
  .panel-body {
    background: #424242;
  }
  .form-group {
    margin-bottom: 3px !important;
  }
}

.pos-container {

  form {
    .form-group.submit {
      display: none;
    }
    display: flex;
    flex-wrap: wrap;

    .input_type {
      width: 130px;
      padding: 0 15px;
      &.zoom {
        width: 70px;
      }
      &.heading {
        width: 90px;
      }
    }
    .markers-group, .layers-group, .size-group, .terrain-group, .position-group, .lighting-group, .polygons-group, .flip-switch-group {
      margin: 0 5px;
    }
    .b-switch {
      margin: 2px 5px;
    }

    md-input-container {
      color: #d6d6d6;
      input:focus {
        color: white;
      }
    }

  }
}

@media screen and (max-width: 767px) {
  .panel.panel-default {
    margin-bottom: 0;
    border: none;
    z-index: 1091;
    position: relative;
    .panel-body {
      max-height: 270px;
      overflow: auto;
      form {
        justify-content: center;
        .input_type {
          width: inherit;
          md-input-container {
            width: 100%;
          }
        }
        .layers-group, .markers-group, .size-group, .lighting-group, .terrain-group, .polygons-group, flip-switch-group {
          width: inherit;
        }

        .group-div {
          margin-top: 2%;
        }

        .form-group.submit {
          margin: 0;
          margin-top: 2%;
          width: 100%;
          display: flex;
          justify-content: center;

          button.submit-mobile {
            width: 80%;
            background: #0f0961;
            border-color: #343075;
          }
        }
      }
    }
  }
  .pos-container {
  }

  .blackscreen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1000;
  }
  .position-group {
    display: none;
  }
}

.glyphicon {
  top: 0px !important;
}
