<button class="btn btn-primary tms-btn" (click)="tmsModal.show()" type="button">TMS</button>


<div [config]="{backdrop: false}" bsModal #tmsModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" (onShow)="initTmsArray()" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form class="modal-content" (ngSubmit)="submitTms(true)">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="tmsModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">TMS</h4>
      </div>
      <div class="modal-body">
        <button class="btn btn-info tms-btn" style="margin: 5px 0;" type="button" (click)="addModal.show()">Add</button>
        <ul class="list-group" *ngIf="tmsArray.length > 0">
          <li class="list-group-item" *ngFor="let tms_item of tmsArray; let i = index" [class.show-params]="tms_item.expand">
            <div class="li-row">
              <button class="btn btn-default glyphicon glyphicon-chevron-right" type="button" (click)="expandParams(tms_item)" [disabled]="Object.keys(tms_item.tms_obj).length < 2"></button>
              <span class="url">{{tms_item.tms_obj.url}}</span>
              <button class="btn btn-info glyphicon glyphicon-pencil" type="button" (click)="editUrl(tms_item, i)"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove-sign" type="button" (click)="removeTms(i)"></button>
            </div>

            <div class="params">
              <div *ngFor="let key of Object.keys(tms_item.tms_obj)">
                <div *ngIf="key != 'url'" class="items-params">
                  <label class="key">{{key}}: </label>
                  <label class="val">{{tms_item.tms_obj[key]}} </label>
                </div>
              </div>
            </div>

          </li>
        </ul>
      </div>
      <div class="modal-footer">

        <div class="btn-group" dropdown dropdown-append-to-body>
          <button id="btn-append-to-body" type="button" class="btn btn-primary" dropdownToggle>
            Examples <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
            <li *ngFor="let example of examples">
              <a class="dropdown-item" (click)="tmsArray.push({tms_obj:example.tms_obj})">{{example.name}}</a>
            </li>
          </ul>
        </div>

        <button class="btn btn-default" (click)="tmsModal.hide()" type="button">Cancel</button>
        <button class="btn btn-default" [disabled]="!canApply()" (click)="submitTms()" type="button">Apply</button>
        <button class="btn btn-default" type="submit">Ok</button>
      </div>

    </form>

    <p>hikebike</p>
    <p>idanbarak/cixg4xdev</p>

  </div>
</div>


<div [config]="{backdrop: false}" bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="addObject.edit_index = -1;addObject.tms_obj = {}">
  <div class="modal-dialog modal-sm add-tms">
    <form class="modal-content" (ngSubmit)="submitAddTms(addObject.tms_obj)">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="addModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">{{addObject.on_edit() ? 'Edit' : 'Add'}} TMS</h4>
      </div>
      <div class="modal-body">
        <div class="form-group url-group">
          <label>url:</label>
          <input class="form-control" [(ngModel)]="addObject.tms_obj.url" [ngModelOptions]="{standalone: true}">
          <button class="btn btn-default glyphicon glyphicon-plus-sign tms-btn" (click)="addQueryModal.show()" type="button"></button>
        </div>
        <ul class="list-group">
          <div *ngFor="let key of Object.keys(addObject.tms_obj)">
            <li class="list-group-item query-item" *ngIf="key != 'url'">
              <span>{{key}}: {{addObject.tms_obj[key]}}</span>
              <button class="btn btn-info glyphicon glyphicon-pencil" (click)="editQuery({key: key, val: addObject.tms_obj[key]})" type="button"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove-sign" (click)="deleteKey(addObject.tms_obj, key)" type="button"></button>
            </li>
          </div>
        </ul>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" (click)="addModal.hide()" type="button">Cancel</button>
        <button class="btn btn-default" type="submit">{{addObject.on_edit() ? 'Save' : 'Add'}}</button>
      </div>

    </form>

  </div>
</div>


<div [config]="{backdrop: false}" bsModal #addQueryModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="initAddQuery()">
  <div class="modal-dialog modal-sm add-query">
    <form class="modal-content" (ngSubmit)="submitQuery(add_query.query_obj)">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="addQueryModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group query-group">
          <div class="label-input">
            <label>key:</label>
            <input class="form-control" [disabled]="add_query.on_edit" [(ngModel)]="add_query.query_obj.key" (ngModelChange)="add_query.error = false" [ngModelOptions]="{standalone: true}"/>
          </div>
          <div class="label-input">
            <label>value:</label>
            <input class="form-control" [(ngModel)]="add_query.query_obj.val" [ngModelOptions]="{standalone: true}"/>
          </div>
          <p class="text-danger error" [@error]="add_query.error" *ngIf="add_query.error">Existing key try again</p>

        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="addQueryModal.hide()" type="button">Cancel</button>
        <button class="btn btn-default" type="submit">{{add_query.on_edit ? 'Save' : 'Add'}}</button>
      </div>

    </form>
  </div>
</div>
