<nav class="navbar navbar-inverse">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
              (click)="isCollapsed = !isCollapsed;mapMipService.togglePositionForm(true)">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand">
        <img src="/assets/Navbar/Mapmip_logo.png"/>
      </a>
    </div>
    <div id="navbar"
         class="navbar-collapse"
         aria-expanded="false"
         [collapse]="isCollapsed"
         (collapsed)="setHeight(el, 0)"
         (expanded)="setHeight(el, 0);setHeight(el, el.scrollHeight)" #el>

      <ul class="nav navbar-nav">

        <li class="nav-item" [class.active]="mapMipService.isActive('cesium')">
          <a class="nav-link" (click)="mapMipService.goTo(CESIUM_PATH);isCollapsed = true">
            <img src="/assets/Navbar/Logo_Color_White.svg"/>
          </a>
        </li>

        <li class="nav-item" [class.active]="mapMipService.isActive('leaflet')">
          <a class="nav-link" (click)="mapMipService.goTo(LEAFLET_PATH);isCollapsed = true">
            <img src="/assets/Navbar/logo.png"/>
          </a>
        </li>

        <li class="nav-item" [class.active]="mapMipService.isActive('openlayers')">
          <a class="nav-link" (click)="mapMipService.goTo(OPENLAYERS_PATH);isCollapsed = true">
            <img style="width: 24px;height: 24px" src="/assets/Navbar/logo70.png">&nbsp;OpenLayers
          </a>
        </li>

      </ul>


      <ul class="nav navbar-nav navbar-right">
        <li><a class="glyphicon glyphicon-wrench" [class.is-open]="!mapMipService.positionFormHidden()"
               (click)="togglePositionForm()"><span class="a-text">Tools</span></a></li>
      </ul>

    </div>
  </div>
</nav>
