$polyline-color: #673ab7;
$polyline-border-color: #673ab7;

div.polyline-row{
  display: flex;
  overflow: hidden;
*{
  margin: 0 3px;
}
span{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
}
/*button.btn.btn-primary.dropdown-toggle{
  background-color: #EEEEEE!important;
}*/

div.polyline{
  display: flex;

button.btn.btn-primary  {
  background-color: $polyline-color;
  border-color: $polyline-border-color;
  margin-right: 5px;
}

button.btn.btn-default {
  color: $polyline-color;
  border-color: $polyline-border-color;
  top:0px;
  margin-left: 5px;
}
  img{
    width:14px;
    height:16px;
  }
}
ul.dropdown-menu{
  min-width: inherit;
}
