$polygons-color: #009688;
$polygons-border-color: #016a60;;
button.btn.btn-primary.dropdown-toggle{
  background-color: $polygons-color!important;
  border-color:$polygons-border-color!important;
}

div.polygon-row{
  display: flex;
  overflow: hidden;
  *{
    margin: 0 3px;
  }
  span{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

div.polygons{
  display: flex;

  button.btn.btn-primary.polygons-menu {
    background-color: $polygons-color;
    border-color: $polygons-border-color;
    margin-right: 5px;
  }

  button.btn.btn-default.draw-polygons{
    color: $polygons-color;
    border-color: $polygons-border-color;
    top:0px;
    margin-left: 5px;
  }
  img{
     width:14px;
    height:16px;
  }
}
ul.dropdown-menu{
  min-width: inherit;
}
