<!--(mouseleave)="mouseDown = false" (mouseenter)="mouseDown = false"-->

<template #popTemplate>
  <div class="popView"  [ngStyle]="popViewStyle" #popView (clickOutside)="pop.hide()" exclude="button#position_pop">
    <div class="drag" (window:resize)="onResize($event)" (window:mouseup)="setNewPosition()" (window:mousemove)="onMouseMove($event)" #drag (mousedown)="onMouseDown($event)" [ngStyle]="dragStyle">
    </div>
  </div>

</template>

<button type="button" class="btn btn-warning"
        placement="bottom"
        id="position_pop"
        #pop="bs-popover"
        [popover]="popTemplate" popoverTitle="Map position">
  Position
</button>
