<ng-template #popTemplate>
  <div style="width: 200px" (clickOutside)="pop.hide()" exclude="#pop">
    width: {{sizeArr[0]}}%
    <input type="range" [(ngModel)]="sizeArr[0]" (ngModelChange)="onSizeChange()" name="points" min="0" max="100">
    height: {{sizeArr[1]}}%
    <input type="range" [(ngModel)]="sizeArr[1]" (ngModelChange)="onSizeChange()" name="points" min="0" max="100">

  </div>
</ng-template>

<button type="button" class="btn btn-success"
        placement="bottom"
        id="pop"
        #pop="bs-popover"
        [popover]="popTemplate" popoverTitle="Map size">
  Size
</button>
