<button class="btn btn-danger" (click)="geoJsonModal.show()" type="button">GeoJson</button>
<div  bsModal #geoJsonModal="bs-modal" class="modal fade layers-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <form class="modal-content" >
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="geoJsonModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">GeoJson</h4>
      </div>
      <div class="modal-body">

        <div class="body-header">

          <button class="btn btn-default" type="button" (click)="defaultModal.show()">
            Add
          </button>
        </div>

        <div class="remove-all-btn-area">
          <button class="glyphicon glyphicon-trash btn btn-danger" type="button" [hidden]="geojson_array.length == 0" (click)="removeAllLayers()"></button>
        </div>

        <ul class="list-group" *ngIf="geojson_array.length > 0">
          <li class="list-group-item" *ngFor="let geojson_item of geojson_array "
              [class.show-params]="geojson_item.expand"
              tabindex="0">

            <div class="li-row">

              <span class="url">{{geojson_item}}</span>
              <button class="btn btn-info glyphicon glyphicon-pencil" type="button" (click)="editModal(geojson_item, geojson_array.length - 1 - i)"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove-sign" type="button" (click)="removeGeojson(geojson_array.length - 1 - i)"></button>
            </div>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="geoJsonModal.hide()" type="button">Cancel</button>
<!--
        <button class="btn btn-default" [disabled]="!canApply()" type="submit">Apply</button>
-->
        <button class="btn btn-default" (click)="submitGeoJson() ; geoJsonModal.hide()" type="button">Ok</button>
      </div>
    </form>
  </div>
</div>

<div [config]="{backdrop: false}" bsModal #defaultModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <form class="modal-content" (submit)="geojson_array.push(geojson)">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="defaultModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body default-modal-body">
        <!--<template  ngFor let-key [ngForOf]="Object.keys(addObject.default.obj)">-->
          <div class="form-group">

            <label>GeoJson URL: </label>

            <input class="form-control" [(ngModel)]="geojson" [ngModelOptions]="{standalone: true}"/>
          </div>
<!--        </template>-->
      </div>

      <div class="modal-footer">
        <span class="glyphicon glyphicon-exclamation-sign pull-left" [tooltip]="test" tooltipClass="url-tooltip"></span>
        <button class="btn btn-default" (click)="defaultModal.hide()" type="button">Cancel</button>
        <button class="btn btn-default" (click)="defaultModal.hide()" type="submit">{{'Add'}}</button>
      </div>

    </form>
  </div>
</div>
