div.page-container {
  position: relative;
  width: 100vw;
  padding: 0 5vw;
  height: calc(100vh - 76px);
}

@media (max-width: 767px) {
  div.page-container {
    height: calc(100vh - 72px);
    padding: 0 3vw;
  }

}
