<div class="terrain">

  <button type="button" class="btn btn-info"
          placement="bottom"
          id="terrain_pop"
          #pop="bs-popover"
          (onShown)="onShownPopover()"
          [popover]="popTemplate" popoverTitle="Map Terrain">
    Terrain
  </button>

</div>


<!-- popover -->

<ng-template #popTemplate>
  <form (clickOutside)="pop.hide()" exclude="button#terrain_pop" (submit)="submitTerrain(pop)">
    <div class="popView" class="popover-terrain">
      <input #input type="text" class="form-control" [(ngModel)]="terrainUrl" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="control-buttons pull-right">
      <div class="btn-group" dropdown dropdown-append-to-body>
        <button id="btn-append-to-body" type="button" class="btn btn-primary" dropdownToggle>
          Examples <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" aria-labelledby="btn-append-to-body">
          <li *ngFor="let example of examples$ | async">
            <a class="dropdown-item" (click)="terrainUrl=example.url">{{example.name}}</a>
          </li>
        </ul>
      </div>
      <button type="button" class="btn btn-danger" (click)="pop.hide()">Cancel</button>
      <button type="submit" class="btn btn-info">OK</button>
    </div>
  </form>
</ng-template>


<!--
(click)="layersArray.push({layer_obj:example.layer_obj})"-->
