<button class="btn btn-primary" (click)="smModal.show()" type="button" [disabled]="markers_array.length == 0">Markers</button>

<div [config]="{backdrop: false}" bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="edited_markers_array = null" (onShow)="cloneEditedMarkers()">
  <div class="modal-dialog modal-md">
    <form class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Markers</h4>
      </div>
      <div class="modal-body">
          <button class="btn btn-info" style="margin: 0 10px 10px 10px;" type="button">Add</button>

        <ul class="list-group" style="overflow-y: auto;height: 170px;" #ul>
          <li class="list-group-item" style="margin: 0 10px;" *ngFor="let marker of edited_markers_array; let i = index">
            ({{i + 1}})

            <button style="font-size: 15px;padding: 2px 5px;" class="btn btn-danger glyphicon glyphicon-trash" type="button" (click)="rmvMarker(index)"></button>
            <button style="font-size: 15px;padding: 2px 5px;" class="btn btn-info glyphicon glyphicon-pencil" type="button" (click)="marker.disabled = !marker.disabled;"></button>
            <input type="text" class="pull-right form-control" style="width: 80%;text-align: center;" [(ngModel)]="marker.str" name="marker-{{i}}" [disabled]="marker.disabled">
          </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button class="col-sm-offset-5 btn btn-default" (click)="submitMarkers(true)" type="submit">Submit</button>
      </div>

    </form>
  </div>
</div>
