<div class="markers">

  <button class="btn btn-primary markers-menu" (click)="smModal.show()" type="button">Markers</button>
  <button class="btn btn-default glyphicon glyphicon-record center-btn"
          [style.color]="positionFormService.getSelectedColorHEX()" (click)="markerCenter()" type="button"
          tooltip="add centered marker" triggers="hover"></button>
  <div class="marker-color-picker">

    <app-color-picker (togglePickedEmitter)="togglePicked($event)" [Active]="positionFormService.onPicked"
                      [(selectedIndex)]="positionFormService.selectedColorIndex"
                      [(label)]="positionFormService.markerLabel">
    </app-color-picker>
  </div>

</div>


<!-- dialogs -->
<div [config]="{backdrop: false}" bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" (onShow)="cloneEditedMarkers()">
  <div class="modal-dialog modal-md">
    <form class="modal-content" (submit)="submitMarkers(true)">

      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Markers</h4>
      </div>

      <div class="modal-body">
        <button class="btn btn-primary top-button" type="button" (click)="addModal.show()">Add</button>
        <button class="glyphicon glyphicon-trash btn btn-danger pull-right top-button" type="button"
                [hidden]="edited_markers_array.length == 0" (click)="removeAllMarkers()"></button>

        <ul class="list-group" *ngIf="edited_markers_array.length > 0">
          <li class="list-group-item" *ngFor="let marker of edited_markers_array; let i = index">

            <div class="li-row">
              <img src="/assets/Markers/marker-icon-{{positionFormService.getSelectedColor(marker.colorIndex)}}.png">
              <span class="marker-label" [hidden]="!marker.label">{{marker.label}}</span>
              <span class="position">{{marker.position}}</span>
              <button class="btn btn-info glyphicon glyphicon-pencil" type="button" (click)="editMarker(i)"></button>
              <button class="btn btn-danger glyphicon glyphicon-remove-sign" type="button"
                      (click)="rmvMarker(i)"></button>
            </div>
          </li>
        </ul>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" (click)="smModal.hide()" type="button">Cancel</button>
        <button class="btn btn-default" [disabled]="!canApply()" (click)="submitMarkers()" type="button">Apply</button>
        <button class="btn btn-default" type="submit">Ok</button>
      </div>

    </form>
  </div>
</div>


<div [config]="{backdrop: false}" bsModal #addModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="edit_obj.init()">
  <div class="modal-dialog modal-sm">
    <form class="modal-content" (submit)="submitAddMarkers(edit_obj.marker)">
      <div class="modal-header">
        <h4 class="modal-title">{{edit_obj.onEdit() ? 'Edit' : 'Add'}} Marker</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="input-and-picker">
            <app-color-picker [(selectedIndex)]="edit_obj.marker.colorIndex"
                              [(label)]="edit_obj.marker.label"></app-color-picker>

            <input class="form-control text-center" [(ngModel)]="edit_obj.marker.position"
                   [ngModelOptions]="{standalone: true}"
                   [style.border-color]="edit_obj.marker.position && !markerStrRegex(edit_obj.marker.position) ? 'red' : '#66afe9'">

            <h6 class="modal-subtitle text-info text-center">Number,Number,(Number)</h6>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-default" (click)="addModal.hide()" type="button">Cancel</button>
        <button class="btn btn-default" [disabled]="!markerStrRegex(edit_obj.marker.position)" type="submit">
          {{edit_obj.onEdit() ? 'Save' : 'Add'}}
        </button>
      </div>

    </form>
  </div>
</div>
