.picked-group {
  button.picked-button {
    img {
      height: 18px;
    }
    &.active {
      background: rgba(50, 134, 203, 0.35);
    }
  }
  button.glyphicon-option-vertical {
    position: relative;
    top: 0px;
    margin: 0px;
  }
}

ul {
  min-width: inherit;
  max-height: 270px;
  overflow: auto;
  -webkit-padding-start: 0px;
  li {
    display: inline-flex;
    a {
      padding: 1px 1px;
      border: 1px solid transparent;
      border-radius: 4px;

      &:hover {
        border-color: #cccccc;
        background-color: #337ab7;

      }

      &.is-selected {
        border-color: #cccccc;
        background-color: #337ab7;

      }

      img {
        width: 29px;
        height: 38px;
      }
    }
  }
}

button.label-btn {
  max-width: 95px;
  overflow: hidden;
  text-overflow: ellipsis;
}
