<div class="btn-group picked-group">
  <button class="btn btn-default picked-button" [class.active]="Active" (click)="togglePickedEmitter.emit(!Active)"
          type="button" [disabled]="disabledAction" tooltip="add marker" triggers="hover" container="body">
    <img [src]="getMarkerUrlByColor(selectedColor)"/>
  </button>

  <button class="btn btn-default glyphicon glyphicon-option-vertical" (click)="smModal.show()" tooltip="choose icon"
          triggers="hover" container="body" type="button"></button>

  <button class="btn btn-default label-btn"
          id="labelpicker"
          tooltip="Choose label"
          container="body"
          placement="bottom"
          #pop="bs-popover"
          [popover]="labelTemplate"
          popoverTitle="Marker Label"
          type="button">
    {{'🏷️' + ' ' + label || '🏷️' }}
  </button>


  <ng-template #labelTemplate>
    <form (clickOutside)="pop.hide()" exclude="button#labelpicker" (ngSubmit)="submitLabel(pop, labelInput.value)">
      <input [value]="label" placeholder="Label" #labelInput/>
      <button
        type="submit"
        class="btn btn-success">
        OK
      </button>

    </form>
  </ng-template>


</div>

<div bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
     aria-hidden="true" [config]="{backdrop: backdrop}">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Choose icon</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="smModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let marker of markerColors(); let _index = index">
            <a
              [class.is-selected]="_index == selectedIndex"
              (click)="changeMarkerColor(_index) ;smModal.hide()">
              <img [src]="getMarkerUrlByColor(marker.icon)"/>
            </a>
          </li>
        </ul>

      </div>
    </div>
  </div>
</div>
