<div class="btn-group picked-group" dropdown>

  <button class="btn btn-default picked-button" [class.active]="Active" (click)="togglePickedEmitter.emit(!Active)" type="button" [disabled]="disabledAction" tooltip="add marker" triggers="hover" container="body">
    <img [src]="getMarkerUrlByColor(selectedColor)"/>
  </button>

  <button type="button" class="btn btn-default dropdown-toggle-split" dropdownToggle>
    <span class="caret"></span>
    <span class="sr-only">Split button!</span>
  </button>

  <ul class="dropdown-menu" dropdownMenu role="menu" aria-labelledby="split-button">
    <li *ngFor="let iconRow of markerColors() | colorPicker: iconsPerRow; let parentIndex = index" role="menuitem">

      <a
         class="dropdown-item"
         *ngFor="let iconItem of iconRow;let childIndex = index"
         [class.is-selected]="calcIndex(parentIndex, childIndex, iconsPerRow) == selectedIndex"
         (click)="changeMarkerColor(calcIndex(parentIndex, childIndex, iconsPerRow))">
        <img [src]="getMarkerUrlByColor(iconItem)"/>
      </a>

    </li>
  </ul>
</div>
