.url-tooltip {
  div.tooltip-inner{
    max-width: none !important;
  }
}

body .mapsCont .cursor-marker{
  cursor: url('/assets/Leaflet/images/marker-icon.cur'), default;
  &.forbidden-position{
    cursor: not-allowed;
  }
}
[hidden]{
  display: none !important;
}

app-map-size{
  .popover-title {
    color:#5cb85c;
  }
}

app-map-position{
  .popover-title {
    color:#f0ad4e;
  }
}
app-terrain{
  .popover-title {
    color:#46b8da;
  }
}
