<form class="row" (submit)="submitForm()">

  <div *ngFor="let key of keys(params)">
    <div *ngIf="havePermission(params[key])">


      <div class="form-group col-md-3" *ngIf="!params[key].input_type">
        <div class="input-group">
          <span class="input-group-addon">{{key}}</span>
          <input type="text" class="form-control" [(ngModel)]="params[key].val" name="{{key}}" placeholder="{{key}}">
        </div>
      </div>

      <div class="form-group col-md-1" *ngIf="params[key].input_type == 'app-markers'">
        <app-markers (submitMarkersEmitter)="submitMarkers($event)"></app-markers>
      </div>


      <div class="form-group col-md-2" *ngIf="params[key].input_type == 'Bswitch'">
        <bSwitch [switch-label-text]="key" [(ngModel)]="bSwitch[key]" name="{{key}}" (ngModelChange)="submitForm()"></bSwitch>
      </div>

    </div>

  </div>

  <div class="form-group col-md-1">
    <button class="btn btn-default" (click)="markerCenter()" type="button">
      <img style="height: 19px" src="/assets/Leaflet/images/marker-icon.png"/>
    </button>
  </div>

  <input type="submit" class="btn btn-info" value="Save" style="display: none;">
</form>

