<form class="row" (submit)="submitForm()">
  <div class="form-group col-md-2">
    <label for="formGroupExampleInput">Lng</label>
    <input type="text" class="form-control" [(ngModel)]="lng" id="formGroupExampleInput" name="lng" placeholder="Example input">
  </div>
  <div class="form-group col-md-2">
    <label for="formGroupExampleInput2">Lat</label>
    <input type="text" class="form-control" [(ngModel)]="lat" id="formGroupExampleInput2" name="lat" placeholder="Another input">
  </div>

  <div class="form-group col-md-2">
    <label for="formGroupExampleInput2">Zoom</label>
    <input type="text" class="form-control" [(ngModel)]="zoom" id="formGroupExampleInput2" name="zoom" placeholder="Another input">
  </div>
  <div *ngIf="router.isActive('/cesium')">
  <div class="form-group col-md-1">
    <label for="formGroupExampleInput2">Heading</label>
    <input type="text" class="form-control" [(ngModel)]="heading" id="formGroupExampleInput2" name="heading" placeholder="Another input">
  </div>
  <div class="form-group col-md-1">
    <label for="formGroupExampleInput2">Pitch</label>
    <input type="text" class="form-control" [(ngModel)]="pitch" id="formGroupExampleInput2" name="pitch" placeholder="Another input">
  </div>

  <div class="form-group col-md-1">
    <label for="formGroupExampleInput2">Roll</label>
    <input type="text" class="form-control" [(ngModel)]="roll" id="formGroupExampleInput2" name="roll" placeholder="Another input">
  </div>
  </div>

  <div class="form-group col-md-1">
    <input type="submit" class="btn btn-info" value="Save">
  </div>

</form>
