<form class="row" (submit)="submitForm()">
  <div *ngFor="let key of keys(params)">

    <div class="form-group col-md-{{params[key].input_type ? '2' : '3'}}" *ngIf="havePermission(params[key])">

      <div class="input-group" *ngIf="!params[key].input_type">
        <span class="input-group-addon">{{key}}</span>
        <input type="text" class="form-control" [(ngModel)]="params[key].val" name="{{key}}" placeholder="{{key}}">
      </div>

      <div *ngIf="params[key].input_type == 'button'">
        <app-markers (submitMarkersEmitter)="submitMarkers($event)"></app-markers>
      </div>

      <div *ngIf="params[key].input_type == 'Bswitch'">
        <bSwitch [switch-label-text]="key" [(ngModel)]="bSwitch[key]" name="{{key}}" (ngModelChange)="submitForm()">
        </bSwitch>
      </div>

    </div>
  </div>
  <input type="submit" class="btn btn-info" value="Save" style="display: none;">
</form>


<!--<div [config]="{backdrop: false}" bsModal #smModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" (onHide)="edited_markers_array = []" (onShow)="cloneEditedMarkers()">-->
  <!--<div class="modal-dialog modal-md">-->
    <!--<div class="modal-content">-->
      <!--<div class="modal-header">-->
        <!--<button type="button" class="close" aria-label="Close" (click)="smModal.hide()">-->
          <!--<span aria-hidden="true">&times;</span>-->
        <!--</button>-->
        <!--<h4 class="modal-title">Markers</h4>-->
      <!--</div>-->
      <!--<form class="modal-body">-->
          <!--<ul class="list-group" style="overflow-y: auto;height: 170px;">-->
            <!--<li class="list-group-item" style="margin: 0 10px;" *ngFor="let marker of edited_markers_array; let i = index">-->

              <!--<button style="font-size: 15px;padding: 2px 5px;" class="btn btn-danger glyphicon glyphicon-trash" type="button" (click)="rmvMarker(index)"></button>-->
              <!--<button style="font-size: 15px;padding: 2px 5px;" class="btn btn-info glyphicon glyphicon-pencil" type="button" (click)="marker.disabled = !marker.disabled;"></button>-->
              <!--({{i + 1}})-->
              <!--<input type="text" class="pull-right form-control" style="width: 80%;text-align: center;" [(ngModel)]="edited_markers_array[i].str" name="marker-{{i}}" [disabled]="marker.disabled">-->
            <!--</li>-->
          <!--</ul>-->
          <!--<button class="col-sm-offset-5 btn btn-success" (click)="submitMarkers(true)" type="submit">Submit</button>-->
      <!--</form>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
