.pos-container{
  box-shadow: inset 0px 0px 7px 0px rgba(107, 173, 223, 0.5);
  padding: 25px 40px 10px 40px;
  background: rgba(107, 173, 223, 0.005);
  border-radius: 4px;
  .markers-group{
    width: 234px;
    padding: 0 15px;
  }
  .b-switch{
    padding: 0 15px;
    width: 157px;
  }
}
