.picked-group{
  ul{
    padding: 20px 10px;
    min-width: inherit;
    max-height: 270px;
    overflow: auto;

    li{
      display: flex;
      a{
        padding: 3px 12px;
        border: 1px solid transparent;
        border-radius: 4px;


        &:hover{
          border-color: #cccccc;
        }

        &.is-selected{
          border-color: #cccccc;
        }

        img{
         /* height: 25px;
          width: 15px;*/
        }
      }
    }
  }
  button.picked-button{
    img{
      height: 18px;
    }
    &.active{
      background: rgba(50, 134, 203, 0.35);
    }
  }
}

